<h1>New Bookmark</h1>

<%= form_with model: @bookmark, url: [@group, @bookmark] do |form| %>
  <div>
    <%= form.label :label %><br>
    <%= form.text_field :label %>
  </div>

  <div>
    <%= form.label :url %><br>
    <%= form.text_field :url, value: "https://" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
