<div id="bookmarks-content">
  <% @groups.each do |group| %>
    <ul class="group">
      <% group.bookmarks.with_attached_favicon.each do |bookmark| %>
        <li class="bookmark">
          <%= link_to(bookmark.url, html_options = { class: "link" }) do %>
            <div class="favicon"
              <% if bookmark.favicon.attached? %>
                style="background-image: url(<%= url_for(bookmark.favicon.variant(:png)) %>);"
              <% end %>
            ></div>

            <%= bookmark.label %>
          <% end %>

          <%= link_to "", [group, bookmark],
            class: "delete",
            data: {
              turbo_method: :delete,
            } %>
      </li>
    <% end %>

    <li class="spacer"></li>

    <li class="manage-group">
      <%= link_to "", new_group_bookmark_path(group.id), class: "add-bookmark" %>

      <% if group.bookmarks.empty? %>
        <%= link_to "", group,
          class: "delete-group",
          data: {
            turbo_method: :delete,
          } %>
      <% end %>
    </li>
  </ul>
  <% end %>

  <%= link_to "", new_group_path, class: "add-group" %>
</div>
