<div id="bookmarks-content">
  <% @groups.each do |group| %>
    <ul class="group">
      <% group.bookmarks.each do |bookmark| %>
        <li class="bookmark">
          <%= link_to bookmark.label, bookmark.url, class: "link" %>

          <%= link_to "", [group, bookmark],
            class: "delete",
            data: {
              turbo_method: :delete,
            } %>
      </li>
    <% end %>

    <li class="spacer"></li>

    <li class="manage-group">
      <%= link_to "", new_group_bookmark_path(group.id), class: "add-bookmark" %>

      <% if group.bookmarks.empty? %>
        <%= link_to "", group,
          class: "delete-group",
          data: {
            turbo_method: :delete,
          } %>
      <% end %>
    </li>
  </ul>
  <% end %>

  <%= link_to "", new_group_path, class: "add-group" %>
</div>
